<header id="header">
<script type="text/javascript">
adroll_adv_id = "FVVWHKUGONCKLLF2VMYKSH";
adroll_pix_id = "FC5MIZPDFFEM7MQ6X5AQAY";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
  <% unless drop.subscribed? %>
    <h1><a href="http://store.getcloudapp.com/?utm_source=viso&utm_medium=ribbon&utm_campaign=viso-1.0">Simple sharing</a></h1>
  <% end %>

  <h2><%= escape_html drop.name %></h2>

  <a class="embed" href="<%= drop.content_url %>">Direct Link</a>
</header>

<section id="content">
  <img alt="<%= escape_html drop.name %>" src="<%= drop.content_url %>">
</section>
