<%# unless drop.subscribed? %>
<%# end %>

<!-- <a class="embed" href="<%= drop.content_url %>">Direct link</a> -->

<header id="header">
	<h1><a href="#">CloudApp <small>Sign Up</small></a></h1>
	<h2><%= escape_html drop.name %></h2>

	<ul>
		<li>
			<a class="trigger" href="#">Share</a>

			<ul class="pop_over">
				<li><a href="#">Download File</a></li>
				<li><a href="#">View Raw</a></li>
			</ul>
		</li>
	</ul>
</header>

<div class="wrapper monsoon">
	<%= drop.content %>
</div>
